.animation-cv {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    perspective: 1000px; /* Esto es para que la rotación se vea en 3D */
  }
  
  /* El título tendrá la animación de rotación */
  .title-container-cv {
    display: inline-block;
    transition: transform 0.6s ease-in-out; /* Transición suave */
    transform-style: preserve-3d; /* Asegura que la rotación sea en 3D */
  }
  
  .animation-cv:hover .title-container-cv {
    transform: rotateY(180deg); /* Rotar el título 180 grados */
  }
  
  /* Estilos normales para la descripción */
  .description-title-container-cv {
    margin-top: 10px;
  }
  