/*.hamburger-menu {
    display: flex;
    position: relative;
   
}

.menu-button {
 
 position: absolute;
 width: 200px;
 height: 100vh;
 background-color: blue;
 top: 0;
 right: 0;
 z-index: 1000;
 padding: 6px 0;
 transition: opacity 1s ease, transform 1s ease;
 
 transform: translateX(100%);
}

.menu-list{
    list-style:none;
    
}

.menu-item  a{
    text-decoration: none;
    
}*/

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: relative;
    z-index: 1000;
}

.close-navbar{
    position: absolute;
    background-color: aqua;
    width: 100px;
    right: 0;
    top: 0;
    transform: translateX(100px);
    transition:all 1s ease;
    height: 100vh;
}
.showNavbar{
    transform: translateX(0px)
}

.menu-list{
    list-style:none;
    
}

.menu-item{
    margin: 10px;
}

.menu-item  a{
    text-decoration: none;
    
}