.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
    backdrop-filter: blur(8px);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #a779e6;
    text-decoration: none;
    z-index: 1000;
    transition: color 0.3s var(--transition-timing);
    
}
.logo a{
    text-decoration: none;
    color: #a779e6;
}

.logo:hover, .logo a:hover {
    color: #e8bdfb;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: opacity 0.3s ease;
}

.nav-link:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .header {
        padding: 1rem;
    }

    .nav-links {
        gap: 1rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }
} 