.home {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
}

.home h1 {
    font-size: 3rem;
    text-align: center;
}

@media (max-width: 768px) {
    .home h1 {
        font-size: 2rem;
    }
} 