/* Botón del menú hamburguesa */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.hamburger-button {
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 1002; /* Mayor que el menú para que siempre sea clickable */
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
}

/* Estilo del icono */
.menu-icon {
    color: var(--purple);
    width: 24px;
    height: 24px;
    transition: transform 0.3s var(--transition-timing);
}

/* Rotación del icono al abrir/cerrar */
.hamburger-button.open .menu-icon {
    transform: rotate(90deg);
    color: var(--pink);
}

.hamburger-button:hover .menu-icon {
    color: var(--pink);
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .hamburger-button {
        padding: 1.2rem;
    }

    .menu-icon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .hamburger-button {
        padding: 1rem;
    }

    .menu-icon {
        width: 18px;
        height: 18px;
    }
}

.nav-brand a {
    color: var(--purple);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-brand a:hover {
    color: var(--pink);
}

.hamburger {
    color: var(--purple);
    transition: color 0.3s ease;
}

.hamburger:hover {
    color: var(--pink);
}

.nav-link {
    color: var(--purple);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--pink);
}

@media (max-width: 768px) {
    .nav-links {
        background-color: var(--purple);
    }

    .nav-links .nav-link {
        color: var(--white);
    }

    .nav-links .nav-link:hover {
        color: var(--pink);
    }
}